body {
  margin: 10px;
  background: #222;
  display: grid;
  grid-template-areas:
    'u r r l o'
    'c c c c c'
    'm m m s s';
  grid-template-columns: auto auto 125px 25px 25px;
  grid-template-rows: 25px auto 50px;
  gap: 10px;
  font-family: monospace;
  font-size: 20px;
  color: white;
  overflow: clip;
}

input,
button {
  all: unset;
  background: #333;
}

input {
  cursor: text;
  height: 50px;
}

button {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

body>*:not(#login, #menu, #rclick, .img, #alert, #closealert, #alertcon) {
  border: 1px solid #888;
  display: inline-block;
  box-sizing: border-box;
}

#undisplay {
  grid-area: u;
}

#roomdisplay {
  grid-area: r;
}

#leave {
  grid-area: l;
  height: 25px;
  width: 25px;
  background-image: url('leave.svg');
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

#openmenu {
  grid-area: o;
  height: 25px;
  width: 25px;
  background-image: url('menu.svg');
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

#chat {
  height: calc(100vh - 120px);
  grid-area: c;
  white-space: pre;
  overflow-y: scroll;
  overflow-x: scroll;
}

#msg {
  grid-area: m;
  padding: 10px;
}

#send {
  grid-area: s;
  width: 60px;
  background-image: url('send.svg');
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

#login {
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  background: #0008;
}

#login div {
  position: fixed;
  padding: 10px;
  inset: 0;
  background: #222;
  width: 400px;
  height: 400px;
  margin: auto;
  color: white;
}

#login input {
  cursor: text;
  height: 30px;
  padding: 2px;
  margin: 5px 0px;
  border: 1px solid #888;
  display: inline-block;
  box-sizing: border-box;
}

#login input[type="button"] {
  cursor: pointer;
}

.usertag,
#undisplay {
  font-weight: bold;
}

#lilog,
.bad {
  color: red;
}

.good {
  color: #0c0;
}

#menu {
  display: none;
  width: 195px;
  border: 1px solid #888;
  box-sizing: border-box;
}

#rclick {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0px;
  border: 4px solid #888;
  background: #222;
  color: white;
  padding: 4px;
}

#rclick hr {
  border: 2px solid #888;
  margin: 2px -4px;
}

.btn {
  cursor: pointer;
  user-select: none;
}

a {
  color: #48e;
}

a:hover {
  color: #8df;
}

a:visited {
  color: #a4f;
}

.tiny {
  font-size: 15px;
  font-weight: light;
}

.img {
  width: 15px;
  height: 15px;
  max-width: 300px;
  max-height: 300px;
  vertical-align: middle;
  border: 2px dotted #888;
  line-height: 10px;
}

.img.emote { border: none; }

.img:active {
  width: unset;
  height: unset;
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
}


.tag {
  border: 1px solid black;
  font-size: 15px;
  border-radius: 20px;
  margin-right: 3px;
  opacity: 0.5;
  font-weight: normal;
  padding: 1px;
  line-height: 14px;
  display: inline-block;
  height: 10px;
  vertical-align: baseline;
  padding-right: 1px;
}

.tag._-1 { 
  color: #f00;
  border-color: #f00;
}

.tag._1 { 
  color: #0f0;
  border-color: #0f0;
}

.tag._2 { 
  color: #48f;
  border-color: #48f;
}

.tag._3 { 
  color: #aa0;
  border-color: #aa0;
}

#alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20px;
  font-size: 20px;
  white-space: pre;
  background: #222;
  border-bottom: 1px solid #888;
}

#closealert {
  font-weight: bold;
  color: red;
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  user-select: none;
}

#alertcon {
  height: 0;
  z-index: 100;
  display: none;
}

#loadmsg {
  margin: auto;
  text-align: center;
  font-weight: bold;
  margin: 5px;
  border-bottom: 2px solid #888;
  cursor: pointer;
  user-select: none;
}

span.msgcon > span:nth-child(2), span.msgcon > span:nth-child(2) *:not(img) {
  border-radius: 5px;
}